html, body, #map {
  height: 100%;
  width: 100%;
  margin: 0px;
}
.coordinates-info {
  padding: 8px 8px;
  background: white;
  background: rgba(255,255,255,0.9);
  border-radius: 4px;
  border: 2px solid rgba(0,0,0,0.2);
  background-clip: padding-box;
  font: 14px 'Lucida Console', Monaco, monospace;
  font-weight: bold;
}
#coordinates, #zoom, #bbox {
  color: red;
  font-weight: normal;
}
#copy {
  width: 100%;
  border: 1px solid rgb(54, 54, 54);
	background-color: #5dca88;
	padding: 5px;
	cursor: pointer;
	box-shadow: 0 3px #1a7940;
	border-radius: 5px;
}

#copy:active {
	position: relative;
	top: 3px;
	box-shadow: none;
	color: #333;
}